<div id="infoPage">
<div class="row">
<h2 class="center title">¿Com funciona?</h2>
<br>
<br>
    <div class="col s12 m4 cajainfoPage center">
        <i class="material-icons circle grey">person_add</i>       
        
        <h2 class="title">Registrate</h2>
      <p>Primero debes registrarte con un correo y contraseña, 
        todos los campos son obligatorios, cuando ingreses toda la información requerida se habilitara 
        el botón para registrarte en la página.</p>
    </div>

    <div class="col s12 m4 cajainfoPage center">
        <i class="material-icons circle grey">person</i>       
        
        <h2 class="title">Inicia Sesión</h2>
      <p>Segundo debes iniciar sesión con el correo y contraseña registrados, el botón de iniciar sesión se habilitara
        una vez ingreses estos datos, al iniciar sesión te redireccionara directamente a tu perfil.</p>
    </div>   
    
    <div class="col s12 m4 cajainfoPage center">
        <i class="material-icons circle grey">school</i>       
        
        <h2 class="title">Actualiza Tus Datos</h2>
      <p>Tercero siempre debes actualizar tus datos en tu perfil, el botón de actualizar datos se activara una vez ingreses todos los campos requeridos, en esta área puedes adjuntar tu hoja de vida.</p>
    </div>  
</div>  
<div class="row">
     <div class="col s12 m4 cajainfoPage center">
        <i class="material-icons circle grey">assignment</i>       
        
        <h2 class="title">Revisa Tu Hoja de Vida</h2>
      <p>Cuarto revisa tu hoja de vida en la opción "Ver Historial De Tu CV", 
        para ver la evolución de tus aplicaciones, 
        de igual forma en el menú oportunidades podrás aplicar a ofertas y así demostrar tu interés.</p>
    </div>   
    <div class="col s12 m4 cajainfoPage center">
        <i class="material-icons circle grey">business</i>       
    
        <h2 class="title">Un Colaborador Revisara Tu HV</h2>
      <p>Quinto uno de nuestros colaboradores revisara tu hoja de vida, quien estará interesado y te contactara.</p>
    </div> 
      <div class="col s12 m4 cajainfoPage center">
        <i class="material-icons circle grey">call</i>       
        
        <h2 class="title">Un Trabajo Nuevo</h2>
      <p>Por ultimo espera que un colaborador te contacte por uno de los medios de contacto que ingresaste, 
        y así comenzar un proceso de selección.</p>
    </div>  
  </div>
</div>
