.recomendacion-form{
   min-height: 50vh;
   border-top: 1.5px solid black;
   margin-top: 20px;
   padding-top: 15px;
}
label{
    font-size: 15px !important;
    color: black !important;
}
h1{
    background-color: black;
    color: white;
    padding: 10px 0;
}
form{
    padding: 10px;
}