RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [NC,L]


Redirect permanent /inicio  http://localhost:8080/AyudaLaboral/

    RewriteRule ^(.*) /AyudaLaboral/index.html [NC,L]
